<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="static/images/image.jpg">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css.css">
    <link rel="stylesheet" href="static/media.css">

    <title>home</title>
</head>
<body>
    <div>
        <!-- for nav -->
        <div class="body">
            <div class="name">
                <h3>shop wise</h3>
            </div>
            <div class="cart">
                <a href="">
                    <i class="fa fa-user"></i>
                    <span>username</span>
                </a>
            </div>
        </div>

        <div class="profilebody">
            <div class="profilebox1">
                <div class="balance">
                    <div>
                        <h4>total users</h4>
                    </div>
                    <div>
                        <h2>10</h2>
                    </div>
                </div>
                <div class="image">
                    <a href="dashboard.html">
                        <div class="edit">
                            back
                        </div>
                    </a>
                </div>
            </div>

            <!-- for items -->
            <div>
                <div class="dashboardov">
                    <div class="dashboardcartov">
                        <img src="static/images/image.jpg" alt="">
                    </div>
                    <div class="dashboardcartov">
                        <div>
                            <h3>user names</h3>
                            <p>user email</p>
                            <p>phone number</p>
                        </div>
                        <div class="button">
                            <a href="">delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>