<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="static/images/image.jpg">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css.css">
    <link rel="stylesheet" href="static/media.css">

    <title>home</title>
</head>
<body>
    <div>
        <!-- for nav -->
        <div class="body">
            <div class="name">
                <h3>shop wise</h3>
            </div>
            <div class="cart">
                <a href="">
                    <i class="fa fa-cart-plus"></i>
                    <span>10</span>
                </a>
            </div>
        </div>

        <!-- for items cart -->
        <div class="historybody">
            <div class="profilebox1">
                <div class="balance">
                    <div>
                        <h4>totaln cart bill</h4>
                    </div>
                    <div>
                        <h2>N 10,000</h2>
                    </div>
                    <div>
                        <a href="">to up balance</a>
                    </div>
                </div>
                <div class="balance">
                    <div>
                        <a href="" style="padding: 5px;">proceed with payment</a>
                    </div>
                </div>
            </div>
            <div class="historybox">
                <div class="image">
                    <img src="static/images/image.jpg" alt="">
                </div>
                <div class="info">
                    <div class="infolocation">
                        <div class="input">
                            <h3 class="head">quantity:</h3>
                            <h3>1</h3>
                        </div>
                        <div class="input">
                            <h3 class="head">country:</h3>
                            <h3>nigeria</h3>
                        </div>
                        <div class="input">
                            <h3 class="head">state:</h3>
                            <h3>imo</h3>
                        </div>
                        <div class="input">
                            <h3 class="head">location:</h3>
                            <h3>owerri</h3>
                        </div>
                    </div>
                    <div class="infotrack">
                        <div class="input">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="input">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="input">
                            <i class="fa fa-check-square"></i>
                        </div>
                    </div>
                    <div class="infolocation">
                        <div class="input">
                            <h3>name</h3>
                        </div>
                        <div class="input">
                            <h3>N 3000</h3>
                        </div>
                        <div class="input">
                            <h3>Date: 12/3/2025</h3>
                        </div>
                        <div class="input">
                            <a href="">
                                <span style="text-transform: capitalize;">remove</span>
                            </a>
                        </div>
                    </div>
                    <div class="infolocation">
                        <div class="input">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptates consequuntur hic, 
                                sit accusamus similique id iste repudiandae enim ab deserunt quasi aliquam ullam itaque illo soluta maiores libero pariatur dolorum totam. 
                                Provident ratione amet itaque, temporibus omnis suscipit quis. Dolores, dicta corrupti alias maiores distinctio ex voluptatibus culpa vel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- for down menu -->
        <div class="downmenu">
            <a href="home.html">
                <div>
                    <i class="fa fa-shopping-bag"></i>
                    <p>shop</p>
                </div>
            </a>
            <a href="">
                <div>
                    <i class="fa fa-history"></i>
                    <p>history</p>
                </div>
            </a>
            <a href="">
                <div>
                    <i class="fa fa-globe"></i>
                    <p>about</p>
                </div>
            </a>
            <a href="profile.html">
                <div>
                    <i class="fa fa-list"></i>
                    <p>profile</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>