<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="static/images/image.jpg">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css.css">
    <link rel="stylesheet" href="static/media.css">

    <title>home</title>
</head>
<body>
    <div>
        <!-- for nav -->
        <div class="body">
            <div class="name">
                <h3>shop wise</h3>
            </div>
            <div class="cart">
                <a href="">
                    <i class="fa fa-user"></i>
                    <span>username</span>
                </a>
            </div>
        </div>

        <!-- for items cart -->
        <div class="profilebody">
            <div class="profilebox1">
                <div class="balance">
                    <div>
                        <h4>total orders</h4>
                    </div>
                    <div>
                        <h2>10</h2>
                    </div>
                </div>
                <div class="image">
                    <a href="dashboard.html">
                        <div class="edit">
                            back
                        </div>
                    </a>
                </div>
            </div>

            <div class="historybox">
                <div class="image">
                    <img src="static/images/image.jpg" alt="">
                </div>
                <div class="info">
                    <div class="infolocation">
                        <div class="input">
                            <h3 class="head">quantity:</h3>
                            <h3>1</h3>
                        </div>
                        <div class="input">
                            <h3 class="head">country:</h3>
                            <h3>nigeria</h3>
                        </div>
                        <div class="input">
                            <h3 class="head">state:</h3>
                            <h3>imo</h3>
                        </div>
                        <div class="input">
                            <h3 class="head">location:</h3>
                            <h3>owerri</h3>
                        </div>
                    </div>
                    <div class="infotrack">
                        <div class="input">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="input">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="input">
                            <i class="fa fa-check-square"></i>
                        </div>
                    </div>
                    <div class="infolocation">
                        <div class="input">
                            <h3>name</h3>
                        </div>
                        <div class="input">
                            <h3>N 3000</h3>
                        </div>
                        <div class="input">
                            <h3>Date: 12/3/2025</h3>
                        </div>
                    </div>
                    <div class="infolocation">
                        <div class="input">
                            <p>
                                customer names
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>