
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="static/images/image.jpg">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css.css">

    <title>home</title>
</head>
<body>
    <div>
        <!-- for nav -->
        <div class="body">
            <div class="name">
                <h3>shop wise</h3>
            </div>
            <div class="cart">
                <!-- <a href="">
                    <i class="fa fa -user"></i>
                    <span>username</span>
                </a> -->
            </div>
        </div>

        <div class="profilebody">

            <!-- for login -->
            <div>
                <form action="">
                    <div class="form">
                        <div class="info">
                            <div class="input">
                                <p>user name:</p>
                                <input type="text" name="name" placeholder="Enter user name" required>
                            </div>
                            <div class="input">
                                <p>first name:</p>
                                <input type="text" name="fname" placeholder="Enter uyour first name" required>
                            </div>
                            <div class="input">
                                <p>other names:</p>
                                <input type="text" name="oname" placeholder="Enter your other names" required>
                            </div>
                            <div class="input">
                                <p>email:</p>
                                <input type="email" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="input">
                                <p>other names:</p>
                                <input type="text" name="phone" placeholder="Enter your phone number" required>
                            </div>
                            <div class="input">
                                <p>gender:</p>
                                <select name="" id="">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div class="input">
                                <p>password:</p>
                                <input type="password1" name="password1" placeholder="Enter your password" required>
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="input">
                                <p>confirm password:</p>
                                <input type="password2" name="password2" placeholder="Confirm your password" required>
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="button">
                                <button>signup</button>
                            </div>
                            <br>
                            <div class="input">
                                <p>I have an account <a href="login.html">login here</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>